* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

body.no-scroll {
    overflow: hidden;
}

.frame {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh; 
}

a,
p {
    font-size: 1em;
    color: black;
    transition: all 0.2s ease;
    text-decoration: none;
}

a:hover {
    color: #09f;
}

img {
    width: 60vw;
}

audio {
    margin-bottom: 50px;
}

.top-audio {
    margin-bottom: 0;
}

video {
    width: 50vw;
    height: auto;
    margin-bottom: 100px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20vw;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    width: 54vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 100px;
}

h1, h2, h3, h4, p, ul, li, em, strong {
    font-size: 1em;
    margin-bottom: 10px;
    font-family: monospace;
}

ul {
    list-style-type:lower-latin; 
}

@media (max-width: 900px) {
    img {
        width: 100vw;
    }

    .text {
        width: 80vw;
    }

    .grid {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    video {
        width: 90%;
    }
}

/* testing */